<div class="epilogue">
  <!-- INTRODUCTION -->
  <div class="epilogue__section">
    <div class="epilogue__block">
      @for(item of currentChallenge()?.epilogue?.introduction; track $index){
          <p class="epilogue__line"> {{ item }}</p>
      }
    </div>
  </div>

  <!-- INSTRUCTIONS -->
  <div class="epilogue__section">
    <ul class="epilogue__steps">
      @for(item of currentChallenge()?.epilogue?.instructions; track $index){
        <li class="epilogue__step"> {{ item }}</li>
      }
    </ul>
  </div>

  <!-- FINAL PHRASE -->
  <div class="epilogue__final">
    <p class="epilogue__final-label">
      {{currentChallenge()?.epilogue?.['final-phrase-label']}}
    </p>

    <button class="epilogue__final-phrase" (click)="onFinalPhraseClick()">
      {{currentChallenge()?.epilogue?.['final-phrase']}}
    </button>
  </div>

  <!-- OVERLAY DE TRANSITION -->
   @if(isClosing()){
      <div class="epilogue__transition-overlay"></div>
   }
</div>


