<div class="action-screen">

  <!-- HEADER -->
  <header class="action-screen__header">
    <h2 class="action-screen__title">
      {{ action()?.header }}
    </h2>
  </header>

  <!-- CONTENT -->
  <section class="action-screen__content">
    @for (p of action()?.paragraphs; track p) {
      <p class="action-screen__text">{{ p }}</p>
    }
  </section>

  <!-- FOOTER -->
  <footer class="action-screen__footer">
    <button class="btn btn-primary" (click)="confirm()">
      C'est fait 🎉
    </button>
  </footer>

</div>
